<CascadingAuthenticationState>
    <CascadingValue Value="navigationChecker" Name="@(nameof(NavigationChecker))">
        <Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="OnNavigateAsync">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingValue>

</CascadingAuthenticationState>


@* 90 minutes *@
<NavigationChecker 
    @ref="navigationChecker"
    Seconds="@(90 * 60)"
    JWT_TOKEN_NAME="@JwtConfig.JWT_TOKEN_NAME"
    JWT_TOKEN_EXP_DATE_NAME="@JwtConfig.JWT_TOKEN_EXP_DATE_NAME" />

@code {

    private NavigationChecker navigationChecker = default!;

    private async Task OnNavigateAsync(NavigationContext args)
    {
        navigationChecker.SetPageDirtyValue(false);
        await HandyBlazorService.ResetFormStates();
        await HandyBlazorService.StoreJwtExpiration(JwtConfig.JWT_TOKEN_NAME, JwtConfig.JWT_TOKEN_EXP_DATE_NAME,
            JwtConfig.JWT_TOKEN_EXP_DATETIME);
    }
}

