@typeparam TItem where TItem : class, new()
@typeparam TEntity where TEntity : HandyGridEntityAbstract<TItem>, new()
@using System.Linq.Expressions
@using HandyBlazorComponents.Abstracts
@using HandyBlazorComponents.Components
@using HandyBlazorComponents.Components.HandyGridTools
@using HandyBlazorComponents.Components.Helpers


@* This grid has pagination and filtering and sorting along with all CRUD operations *@
@*
    It is recommended to use only primitive types and certain reference types for the columns
    Usable reference types include only strings and ienumerables of either a string or primitive type
    Other reference types have not been tested and it is recommended to convert them into strings when used
 
    Potential new features:
        ---add new rows based on user input row number---
        ---give user a dropdown list that controls the number of rows to show per page---
        ---make the handytoast messages appear in a stack-like fashion---
*@

<style>
    .handy-grid-page {
        height: calc(100vh - 160px);
        /* header + footer safe */
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1rem;
    }
</style>

@* <SelectTest /> *@

<span>
    Show
</span>
    <select value="@HandyGridState.PageSize.ToString()" @onchange="@(e => OnPageSizeChange(e))" class="form-select" style="width: 25%">
        <option value="">-- Select --</option>
        @foreach (var pgSize in new List<int> { 5, 10, 25, 50, 100 })
        {
            <option value="@pgSize">@pgSize</option>
        }
    </select>
<span>entries</span>

<div class="text-center overflow-auto m-3">
    <table class="table table-striped table-bordered" style="overflow: auto;">
        <thead>
            <tr>
                @if (HandyGridState.ShowRowIndex)
                {
                    <th>
                        Row #
                    </th>
                }
                @if (!HandyGridState.IsReadonly)
                {
                    <th>
                        Actions
                    </th>
                }
                @foreach (var column in HandyGridState.Columns)
                {
                    if (!HandyGridState.ColumnsToHide.Contains(column))
                    {
                        <th>
                            <button @onclick="@(() => SortData(column))" class="btn btn-primary">
                                @column @GetSortIcon(column)
                            </button>
                            @if (HandyGridState.ShowFilters)
                            {
                                <TextInputFilter Value="@GetFilterValue(column)"
                                    ValueChanged="@(value => SetFilterValue(column, value))" PlaceHolder=@($"Filter by {column}") />
                            }
                        </th>
                    }
                }
                @if (!HandyGridState.IsReadonly)
                {
                    <th>UPDATE</th>
                    <th>DELETE</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < pagedItemsHelper.Count; i++)
            {
                int rowIdx = i;
                <tr>
                    @if (HandyGridState.ShowRowIndex)
                    {
                        <td>
                            <div style="width: 2.5rem;">
                                @* this formula will respect the item numbering relative to the entire collection, so for, lets say, 5 items per page we would have item number 6 on the first row of the second page instead of having it start at 0 again *@
                                @((CurrentPage - 1) * pageSize + rowIdx + 1)
                            </div>
                        </td>
                    }
                    @if (!HandyGridState.IsReadonly)
                    {
                        <td>
                            @if (AllowEdits[rowIdx])
                            {
                                <button @onclick="@(() => CancelEdit(rowIdx, pagedItemsHelper[rowIdx]))"
                                    class="btn btn-primary">Cancel</button>
                            }
                            else
                            {
                                <button @onclick="@(() => BeginEdit(rowIdx))" class="btn btn-primary">Edit</button>
                            }
                        </td>
                    }
                    @foreach (var (columnIdx, columnName) in HandyGridState.Columns.Select((columnName, columnIdx) =>
                                    (columnIdx,
                                    columnName)))
                    {
                        if (!HandyGridState.ColumnsToHide.Contains(columnName))
                        {
                            <td>
                                @* edit mode cases *@
                                @if (!HandyGridState.ReadonlyColumns.Contains(columnName) && AllowEdits[rowIdx])
                                {
                                    @if (HandyGridState.EditModeFragments != null &&
                                                        HandyGridState.EditModeFragments.FirstOrDefault(x => x.Name == columnName) != null)
                                    {
                                        var template = HandyGridState.EditModeFragments.First(x => x.Name == columnName);
                                        <div class="d-flex align-items-center p-3">
                                            @(template.Fragment(pagedItemsHelper[rowIdx]))
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center p-3">
                                            <input value="@(pagedItemsHelper[rowIdx].DisplayPropertyInGrid(columnName))"
                                                @oninput="(e) => pagedItemsHelper[rowIdx].SetPropertyValue(columnName, e.Value)"
                                                class="form-control" style="width: 10rem" />
                                        </div>
                                    }
                                }
                                @* view mode cases *@
                                else
                                {
                                    @if (HandyGridState.ViewModeFragments != null &&
                                                        HandyGridState.ViewModeFragments.FirstOrDefault(x => x.Name == columnName) != null)
                                    {
                                        var template = HandyGridState.ViewModeFragments.First(x => x.Name == columnName);
                                        @(template.Fragment(pagedItemsHelper[rowIdx]))
                                    }
                                    else
                                    {
                                        @* <span>@GetPropertyValue(pagedItemsHelper[rowIdx], columnName)</span> *@
                                        <span>@(pagedItemsHelper[rowIdx].DisplayPropertyInGrid(columnName))</span>
                                    }
                                }

                                <span class="text-danger">@ErrorMessages[rowIdx, columnIdx]</span>
                            </td>
                        }
                    }
                    @if (!HandyGridState.IsReadonly)
                    {
                        <td>
                            <button disabled="@(!AllowEdits[rowIdx])"
                                @onclick="@(() => UpdateRow(rowIdx, pagedItemsHelper[rowIdx]))"
                                class="btn btn-primary">Update</button>
                        </td>
                        <td>
                            <button @onclick="@(() => DeleteRow(pagedItemsHelper[rowIdx]))"
                                class="btn btn-danger">DELETE</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<ConfirmModal @ref="confirmModal" Title="Warning"
    BodyText="Are you sure you want to delete this record? THIS ACTION IS IRREVERSIBLE!" />

<AddDynamicItemsModalTest TItem="TItem" TEntity="TEntity" @ref="AddDynamicItemsModal" />

<div class="d-flex justify-content-between">
    <div>
        @if (!HandyGridState.IsReadonly || HandyGridState.CanAddNewItems)
        {
            <button class="btn btn-primary m-1" @onclick="AddNewItems">@HandyGridState.AddNewItemsText</button>
        }
        @if (HandyGridState.Exportable)
        {
            <SaveAsFileComponent Contents="@(ConvertToCSV())" />
        }
    </div>
    <div>
        <CustomPagination CurrentPage="CurrentPage" TotalPages="TotalPages" OnPageChanged="OnPageChanged" />
    </div>
</div>


@code {

    private ConfirmModal confirmModal = default!;
    //private NotificationModal notificationModal = default!;
    private AddDynamicItemsModalTest<TItem, TEntity> AddDynamicItemsModal = default!;

    [CascadingParameter(Name = nameof(HandyGridState))]
    public HandyGridStateAbstract<TEntity, TItem> HandyGridState { get; set; }

    // used to listen for changes from parent component
    [Parameter]
    public List<TEntity> Items { get; set; }




    private int CurrentPage { get; set; } = 1;

    private int pageSize => HandyGridState.PageSize; // Number of items per page
    private int TotalPages => (int)Math.Ceiling((double)filteredItems.Count() / pageSize);

    private List<bool> AllowEdits = new();
    private Dictionary<string, string> FilterValues { get; set; } = new();
    private IEnumerable<TEntity> filteredItems =>
    HandyGridState.Items.Where(item => FilterQuery(item));

    private List<TEntity> pagedItems = new();
    /// <summary>
    /// A temp list in the dynamic handy grid so that the cancel function can be used to revert back the old values in the
    /// original grid.
    /// Used in case we want to revert a change.
    /// </summary>
    /// <returns></returns>
    private List<TEntity> pagedItemsHelper = new();
    private string sortColumn;
    private bool sortAscending = true;
    private List<TEntity> ItemsToAdd = new();

    private string[,] _errorMessages;

    private string[,] ErrorMessages
    {
        get
        {
            if (_errorMessages == null || _errorMessages.GetLength(0) != pagedItemsHelper.Count || _errorMessages.GetLength(1) !=
            (HandyGridState.Columns?.Count ?? 0))
            {
                _errorMessages = new string[pagedItemsHelper.Count, HandyGridState.Columns?.Count ?? 0];
            }
            return _errorMessages;
        }
        set => _errorMessages = value;
    }


    private async Task OnPageSizeChange(ChangeEventArgs value)
    {
        // default to page size of 5
        Console.WriteLine(pageSize);
        HandyGridState.PageSize = Convert.ToInt32(string.IsNullOrEmpty(value.Value?.ToString()) ? "5" :
        value.Value?.ToString());
        UpdatePagedItems();
    }

    private async Task AddNewItems()
    {
        ItemsToAdd = await AddDynamicItemsModal.ShowAsync();
        // ItemsToAdd.ForEach(item => Console.WriteLine(item));
        //int maxId = HandyGridState.Items.Any() ? HandyGridState.Items.Max(o => o.GetPrimaryKey()) : -1;
        // Console.WriteLine("maxId: " + maxId);
        if (ItemsToAdd.Any())
        {
            //for (int i = 0; i < ItemsToAdd.Count; i++)
            //{
            // ItemsToAdd[i].SetPrimaryKey(++maxId);
            //}

            //HandyGridState.Items.AddRange(ItemsToAdd);

            // server call
            await HandyGridState.OnCreateAction.InvokeAsync(ItemsToAdd);
        }
    }

    // Handle page change event
    private void OnPageChanged(int newPage)
    {
        //Console.WriteLine("newPage: " + newPage);
        CurrentPage = newPage;
        UpdatePagedItems();
        //StateHasChanged();
    }

    private void SortData(string columnName)
    {
        if (sortColumn == columnName)
        {
            sortAscending = !sortAscending; // Toggle sort direction
        }
        else
        {
            sortColumn = columnName; // Set new column to sort
            sortAscending = true; // Default to ascending
        }

        UpdatePagedItems();
    }

    private void UpdatePagedItems()
    {
        var itemsQuery = filteredItems.AsQueryable();

        // Apply sorting using reflection
        if (!string.IsNullOrWhiteSpace(sortColumn))
        {
            var param = Expression.Parameter(typeof(TEntity), "entity");

            // Navigate to the TItem property of TEntity
            var tItemProperty = Expression.PropertyOrField(param, "Object"); // Replace 'TItem' with the actual property name of

            // Access the target property or field on TItem
            var property = Expression.PropertyOrField(tItemProperty, sortColumn);

            Expression sortExpression;

            // Check if the property is IEnumerable<string>
            if (typeof(IEnumerable<string>).IsAssignableFrom(property.Type) && property.Type != typeof(string))
            {
                // Create an expression to join the strings with ", " as a separator
                var joinMethod = typeof(string).GetMethod("Join", new[] { typeof(string), typeof(IEnumerable<string>) });
                sortExpression = Expression.Call(joinMethod, Expression.Constant(", "), property);
            }
            else
            {
                // Convert property to object for non-IEnumerable<string> types
                sortExpression = Expression.Convert(property, typeof(object));
            }

            // Create the lambda expression for sorting
            var lambda = Expression.Lambda<Func<TEntity, object>>(sortExpression, param);

            // Apply sorting
            itemsQuery = sortAscending ? itemsQuery.OrderBy(lambda) : itemsQuery.OrderByDescending(lambda);
        }

        pagedItems = itemsQuery.Skip((CurrentPage - 1) * pageSize).Take(pageSize).ToList();
        //pagedItemsHelper = DeepCopy(pagedItems);
        pagedItemsHelper = pagedItems.Select(item =>
        {
            TEntity entity = new TEntity();
            entity.Object = item.DeepCopy();
            return entity;
        }).ToList();
        AllowEdits = Enumerable.Repeat(false, pagedItems.Count).ToList();
        // Console.WriteLine(AllowEdits.Count);

        StateHasChanged();
    }

    private bool FilterQuery(TEntity item)
    {
        bool nullOrWhiteSpaceCheck = FilterValues.Values.All(
        filter => string.IsNullOrWhiteSpace(filter)
        );

        if (nullOrWhiteSpaceCheck)
        {
            return true;
        }

        // TODO: test this (AND's the column values together for the final filter)
        // UPDATE: Test seems to work :)
        var canAdd = true;
        foreach (var kvp in FilterValues)
        {
            var columnName = kvp.Key;
            var cellValueInColumn = kvp.Value;
            if (string.IsNullOrWhiteSpace(FilterValues[columnName]))
            {
                continue;
            }

            canAdd &= item.DisplayPropertyInGrid(columnName).ToString().Contains(cellValueInColumn,

            StringComparison.OrdinalIgnoreCase);
        }

        return canAdd;

        //bool nullOrWhiteSpaceCheck = FilterValues.Values.All(
        //filter => string.IsNullOrWhiteSpace(filter)
        //);
        //
        //bool containsCheck = HandyGridState.Columns
        //.Any(columnName =>
        //!string.IsNullOrWhiteSpace(FilterValues[columnName]) &&
        //item.DisplayPropertyInGrid(columnName).ToString().Contains(FilterValues[columnName],
        //StringComparison.OrdinalIgnoreCase));
        //
        //return nullOrWhiteSpaceCheck || containsCheck;
    }

    protected override void OnParametersSet()
    {
        UpdatePagedItems();
        // Console.WriteLine("parameters changed");
    }

    protected override void OnInitialized()
    {
        //Columns = typeof(TItem).GetProperties().Select(prop => prop.Name).ToList();
        foreach (var column in HandyGridState.Columns)
        {
            FilterValues.Add(column, string.Empty);
        }
        UpdatePagedItems();
        //Filters = Enumerable.Repeat(string.Empty, Columns.Count).ToList();
        // Columns.ForEach(c=>Console.WriteLine(c));
    }

    private async Task UpdateRow(int rowIdx, TEntity item)
    {
        // find out rows that have errors
        var validation = HandyGridState.ValidationChecks(item);
        if (!validation.Flag)
        {
            // reset
            // getlength(1) returns number of columns
            // getlength(0) returns number of rows
            for (var columnIdx = 0; columnIdx < ErrorMessages.GetLength(1); columnIdx++)
            {
                ErrorMessages[rowIdx, columnIdx] = "";
            }

            // show errors
            foreach (var kvp in validation.ErrorMessagesDict)
            {
                // Console.WriteLine(kvp.Key);
                int colIdx = HandyGridState.Columns.IndexOf(kvp.Key);
                if (colIdx == -1)
                    continue;
                ErrorMessages[rowIdx, colIdx] = string.Join(",", kvp.Value);
            }
        }
        else
        {
            for (var columnIdx = 0; columnIdx < ErrorMessages.GetLength(1); columnIdx++)
            {
                ErrorMessages[rowIdx, columnIdx] = "";
            }
        }


        // checks if any of the cells still has errors
        if (ErrorMessages.Cast<string>().Any(errMsg => !string.IsNullOrWhiteSpace(errMsg)))
        {
            return;
        }

        AllowEdits[rowIdx] = false;

        // server call
        await HandyGridState.OnUpdateAction.InvokeAsync(item);
    }

    private async Task DeleteRow(TEntity entity)
    {
        var response = await confirmModal.ShowAsync();
        if (response)
        {
            // server call
            await HandyGridState.OnDeleteAction.InvokeAsync(entity);
        }
    }

    private async Task CancelEdit(int rowIdx, TEntity entity)
    {
        // clear error messages
        for (var columnIdx = 0; columnIdx < ErrorMessages.GetLength(1); columnIdx++)
        {
            ErrorMessages[rowIdx, columnIdx] = "";
        }

        foreach (var columnName in HandyGridState.Columns)
        {
            //SetPropertyValue(pagedItemsHelper[rowIdx], GetPropertyValue(pagedItems[rowIdx], columnName), columnName);
            pagedItemsHelper[rowIdx].SetPropertyValue(columnName, pagedItems[rowIdx].GetPropertyValue(columnName));
        }

        AllowEdits[rowIdx] = false;
    }

    private async Task BeginEdit(int rowIdx)
    {
        AllowEdits[rowIdx] = true;
    }

    private string GetFilterValue(string column)
    {
        //Console.WriteLine(column);
        //Console.WriteLine(FilterValues[column]);
        return FilterValues.ContainsKey(column) ? FilterValues[column] : "";
    }

    private void SetFilterValue(string column, string value)
    {
        //Console.WriteLine("setting: " + column + " to " + value);
        FilterValues[column] = value;
        FilterItems();
    }

    private void FilterItems()
    {
        // Filtering logic based on FilterValues
        CurrentPage = 1;
        UpdatePagedItems();
    }

    private string GetSortIcon(string columnName)
    {
        return sortColumn == columnName ? (sortAscending ? "↑" : "↓") : string.Empty; // Return an up or down arrow based on
    }

    private string ConvertToCSV()
    {
        var result = string.Join(",", HandyGridState.Columns);
        result += '\n';
        // Console.WriteLine(result);
        foreach (var acc in HandyGridState.Items)
        {
            //List<string> stringified = [];
            //foreach (var col in HandyGridState.Columns)
            //{
            // var item = acc.DisplayPropertyInGrid(col)?.ToString()?.Replace(",", "+");
            // stringified.Add(item ?? string.Empty);
            //}

            var stringified = HandyGridState.Columns.Select(col => acc.DisplayPropertyInGrid(col)?.ToString()?.Replace(",", "+"));
            var list = stringified.ToList();
            result += $"{string.Join(",", list)}\n";
        }
        return result;
    }

}